In [12]:
import pymysql, pandas as pd

conn = pymysql.connect(
    host="apollo-api-staging-f82be878-d243-4113-8052-ef36565618e0.cpljy7lbflfq.eu-west-1.rds.amazonaws.com",
    user="admin",
    passwd='zsfZMSpS0SGz8gp203QJ4r3bqpVNxwmG',
    port=3306,
    database="vapor"
)

cursor = conn.cursor()
cursor.execute(
    r"""
    SELECT historyable_id
    FROM histories
    WHERE historyable_type = 'App\\Models\\LiveTv\\Epg'
    """
)

data = pd.DataFrame(cursor.fetchall(), columns=['historyable_id'])

data.head()

                  historyable_id
0                       hrt.1.hr
1                       hrt.4.hr
2  gac.great.american.country.us
3                 nfl.network.us
4         destination.america.us

In [14]:
counts = data['historyable_id'].value_counts()
counts = pd.DataFrame({
    'channel': counts.index,
    'num_views': counts.values,
})

counts.to_csv('report.csv', index=False)

counts.head()

                 channel  num_views
0                espn.us     268803
1  5.star.max.eastern.us     263175
2       ae.us.eastern.us     245893
3       abc.news.live.us     226431
4         amc.eastern.us     219872